.contact {
  display: grid;
  place-items: center;
  position: relative;
  width: 100%;
  padding-top: 70px;
  background-color: var(--bg);
  z-index: 1;

  &__inner {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 100px;
    min-width: 0;
    height: calc(100% - 150px);
    padding: 75px 0;
    margin: auto;

    @media (max-width: 700px) {
      padding: 10px 10px 25px 10px;
      height: calc(100% - 35px);
      gap: 20px;
    }

    &__header {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;

      > h2 {
        font-size: 30pt;
        font-weight: bold;
        margin-bottom: 15px;
        text-align: center;
        color: var(--title);
        position: relative;
      }

      &__underline {
        background: var(--title);
        height: 4px;
        width: 50px;
        position: relative;
      }

      @media (max-width: 700px) {
        > h2 {
          font-size: 21pt;
        }
      }
    }
    &__container {
      display: flex;
      flex-flow: column nowrap;
      gap: 18px;
      width: 100%;

      > h2 {
        font-size: 2.25rem;
      }

      > input,
      > textarea {
        padding: 0.5rem;
        resize: none;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        font-family: inherit;
        outline: none;
      }

      > textarea {
        height: 125px;
      }

      > button {
        width: fit-content;
        padding: 5.5px;
        background-color: transparent;
        border-radius: 0.3rem;
        border: 1px solid var(--color);
        color: var(--color);
        cursor: pointer;

        &:hover {
          filter: contrast(0.5);
        }
      }
    }
  }

  &__footer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: relative;
    height: 20vh;
    width: 100%;
    background-color: #1b242f;

    &__return {
      position: absolute;
      top: -25px;
      padding: 5px 8px;
      border: none;
      background-color: #659dbd;
      cursor: pointer;
      svg {
        width: 24px;
        height: 32px;
        path {
          fill: #ffffff;
        }
      }
    }

    &__socials {
      display: flex;
      flex-flow: row;
      gap: 5px;
      height: 50px;
      > a {
        display: grid;
        place-items: center;
        width: 55px;
        height: 55px;
        > svg {
          width: 40px;
          height: 40px;
          cursor: pointer;

          &:hover {
            width: 48px;
            height: 48px;
          }

          path {
            fill: #659dbd !important;
          }
        }
      }
    }

    > span {
      color: #8f9aa7;

      > span {
        color: #659dbd;
      }
    }
  }
}
