.contact {
  display: grid;
  place-items: center;
  position: relative;
  width: 100%;
  padding: 100px 0;
  background-color: #ffffff;

  &__container {
    display: flex;
    flex-flow: column nowrap;
    gap: 18px;
    width: 100%;

    > h2 {
      font-size: 2.25rem;
    }

    > input,
    > textarea {
      padding: 0.5rem;
      resize: none;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      font-family: inherit;
      outline: none;
    }

    > textarea {
      height: 125px;
    }

    > button {
      width: fit-content;
      padding: 5.5px;
      background-color: transparent;
      border-radius: 0.3rem;
      border: 1px solid #659dbd;
      cursor: pointer;

      &:hover {
        background-color: #659dbd;
        color: #ffffff;
      }
    }
  }

  &__footer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    position: fixed;
    bottom: 0;
    height: 20%;
    width: 100%;
    background-color: #1b242f;

    &__return {
      position: absolute;
      top: -25px;
      padding: 5px 8px;
      border: none;
      background-color: #659dbd;
      cursor: pointer;
      svg {
        width: 24px;
        height: 32px;
        path {
          fill: #ffffff;
        }
      }
    }

    &__socials {
      display: flex;
      flex-flow: row;
      gap: 5px;
      height: 50px;
      > a {
        width: 55px;
        height: 55px;
        > svg {
          width: 40px;
          height: 40px;
          cursor: pointer;

          &:hover {
            width: 48px;
            height: 48px;
          }

          path {
            fill: #659dbd !important;
          }
        }
      }
    }

    > span {
      color: #8f9aa7;

      > span {
        color: #659dbd;
      }
    }
  }
}
