.contact {
  display: grid;
  place-items: center;
  width: 100%;
  padding: 100px 0;
  background-color: #ffffff;

  &__container {
    display: flex;
    flex-flow: column nowrap;
    gap: 18px;
    width: 100%;

    > h2 {
      font-size: 2.25rem;
    }

    > input,
    > textarea {
      padding: 0.5rem;
      resize: none;
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      font-family: inherit;
      outline: none;
    }

    > textarea {
      height: 125px;
    }

    > button {
      width: fit-content;
      padding: 5.5px;
      background-color: transparent;
      border-radius: 0.3rem;
      border: 1px solid #659dbd;
      cursor: pointer;

      &:hover {
        background-color: #659dbd;
        color: #ffffff;
      }
    }
  }
}
