.nav {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: 70px;
  min-height: 70px;
  width: 100%;
  background-color: #fff;
  padding: 0 1rem;
  box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 11%);

  &__container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin: 0 auto;

    @media (min-width: 576px) {
      max-width: 540px;
    }

    @media (min-width: 768px) {
      max-width: 720px;
    }

    @media (min-width: 992px) {
      max-width: 960px;
    }

    @media (min-width: 1200px) {
      max-width: 1200px;
    }

    h1 {
      font-size: 1.2rem;
      cursor: pointer;
      white-space: nowrap;
    }

    &__actions {
      display: inline-flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      flex: 1;

      > ul {
        display: flex;
        gap: 1rem;
        font-size: 0.9rem;
        list-style: none;

        > li {
          cursor: pointer;
          .active {
            font-weight: bold;
          }
        }
      }
    }
  }
}
