.nav {
  display: flex;
  align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
  height: 70px;
  min-height: 70px;
  width: calc(100% - 2rem);
  background-color: var(--navbar);
  padding: 0 1rem;
  box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 11%);

  &__container {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: relative;

    &__actions {
      display: inline-flex;
      flex-flow: row nowrap;
      padding-left: 50px;
      flex: 1;

      > ul {
        display: flex;
        gap: 1rem;
        font-size: 0.9rem;
        list-style: none;
        padding: 0;

        > li {
          cursor: pointer;
          color: var(--color);
          .active {
            font-weight: bold;
          }
        }
      }
    }

    &__hamburger {
      width: 48px;
      height: 48px;
      cursor: pointer;
    }

    &__burgernav {
      position: absolute;
      top: 55px;
      left: 10px;
      width: 125px;
      min-height: 0;
      background-color: #ffffff;
      border: 1px solid #ccc;
      border-radius: 4px;

      &__dropdown {
        display: flex;
        align-items: center;

        > ul {
          display: flex;
          flex-flow: column nowrap;
          align-items: center;
          flex: 1;
          gap: 1rem;
          font-size: 0.9rem;
          list-style: none;
          padding: 0;

          > li {
            cursor: pointer;
            .active {
              font-weight: bold;
            }
          }
        }
      }
    }

    &__darkmode {
      width: 32px;
      height: 32px;
      cursor: pointer;

      &.active path {
        fill: #ffffff;
      }
    }
  }
}
