.skills {
  display: grid;
  place-items: center;
  width: 100%;

  > h2 {
    font-size: 2.25rem;
    margin-bottom: 15px;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
    row-gap: 2rem;
    width: 100%;

    &__skill {
      display: grid;
      grid-template-rows: auto auto auto;
      place-items: center;
      gap: 5px;

      > h3 {
        font-size: 1.25rem;
        text-align: center;
      }

      > svg {
        margin-bottom: 8px;
        width: 64px;
        height: 64px;

        path {
          fill: #795548 !important;
        }
      }
      > p {
        font-size: 0.8rem;
      }
    }
  }
}
