.skills {
  &__container {
    display: flex;
    flex-flow: row wrap;

    &__skill {
      display: flex;
      flex-flow: column nowrap;

      > svg {
        width: 32px;
        height: 32px;
      }
    }
  }
}
