.skills {
  display: grid;
  place-items: center;
  width: 100%;
  padding: 100px 0;
  background-color: #f5f5f5;
  color: #616161;
  &__layout {
    width: 100%;

    &__header {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;
      margin-bottom: 100px;

      > h2 {
        font-size: 30pt;
        font-weight: bold;
        margin-bottom: 15px;
        text-align: center;
        color: #444649;
      }

      &__underline {
        background: #444649;
        height: 4px;
        width: 50px;
      }
    }

    &__container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 3rem;
      row-gap: 2rem;
      width: 100%;

      @media (max-width: 600px) {
        grid-template-columns: repeat(1, 1fr);
      }

      &__skill {
        display: grid;
        grid-template-rows: auto auto auto;
        place-items: center;
        gap: 5px;

        > h3 {
          font-size: 1.25rem;
          text-align: center;
          font-weight: bold;
        }

        > svg {
          margin-bottom: 8px;
          width: 64px;
          height: 64px;

          path {
            fill: #659dbd !important;
          }
        }
        > p {
          font-size: 0.8rem;
        }
      }
    }
  }
}
