.aboutme {
  height: calc(100% - 70px);
  width: 100%;
  padding-top: 70px;
  color: #616161;

  &__inner {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 100px;
    min-width: 0;
    height: calc(100% - 150px);
    padding: 75px 0;
    margin: auto;

    @media (max-width: 700px) {
      padding: 10px 10px 25px 10px;
      height: calc(100% - 35px);
      gap: 20px;
    }

    &__header {
      display: flex;
      flex-flow: column nowrap;
      align-items: center;

      > h2 {
        font-size: 30pt;
        font-weight: bold;
        margin-bottom: 15px;
        text-align: center;
        color: #444649;
        position: relative;
      }

      &__underline {
        background: #444649;
        height: 4px;
        width: 50px;
        position: relative;
      }

      @media (max-width: 700px) {
        > h2 {
          font-size: 21pt;
        }
      }
    }

    &__container {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 10px;
      flex: 1;

      @media (max-width: 1200px) {
        grid-template-columns: 1fr;
      }

      &__profile {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        gap: 0.5rem;
        flex: 1 1 400px;
        min-width: 0;
        position: relative;

        > img {
          height: 270px;
          min-height: 270px;
          width: 270px;
          max-width: 270px;
          min-width: 270px;
          border-radius: 50%;
          object-fit: cover;
        }

        > h3 {
          font-size: 1.25rem;
          font-weight: bold;
        }

        > p {
          text-align: center;

          > a {
            text-decoration: none;
            color: #659dbd;
            &:hover {
              text-decoration: underline;
            }
          }
        }

        @media (max-width: 1200px) {
          > h3 {
            font-size: 1.1rem;
          }
          > img {
            width: 225px;
            height: 225px;
            min-height: 225px;
            max-width: 225px;
            min-width: 225px;
          }
        }

        @media (max-width: 770px) {
          gap: 0.25rem;
          > img {
            width: 150px;
            height: 150px;
            min-height: 150px;
            max-width: 150px;
            min-width: 150px;
          }
          > p {
            font-size: 0.9rem;
          }
        }
      }

      &__skills {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1rem;
        row-gap: 1rem;
        width: 100%;

        &__skill {
          display: flex;
          flex-flow: column nowrap;
          place-items: center;
          gap: 5px;

          > h3 {
            display: grid;
            place-content: center;
            font-size: 1.25rem;
            text-align: center;
            font-weight: bold;
            height: 40px;
          }

          > svg {
            margin-bottom: 8px;
            width: 64px;
            height: 64px;

            path {
              fill: #659dbd;
            }
          }
          > p {
            font-size: 0.8rem;
          }

          &__ts {
            rect {
              fill: #659dbd;
            }
            path {
              fill: #ffffff !important;
            }
          }
          @media (max-width: 1200px) {
            > h3 {
              font-size: 1.1rem;
            }
            > svg {
              width: 48px;
              height: 48px;
            }
          }

          @media (max-width: 770px) {
            > h3 {
              font-size: 1rem;
            }
            > svg {
              width: 32px;
              height: 32px;
            }

            > p {
              font-size: 0.7rem;
            }
          }
        }
      }
    }
  }
}
